<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
    Authors: Kristiyan Tenev & Quan Nguyen.
 -->
 
<module name = "Checker">
    <property name="severity" value="warning" />

    <!-- Maximum line length allowed is 80 columns -->
    <module name="LineLength" />

    <module name="TreeWalker">
        <module name="MethodLength">
            <!-- A method should have no more than 60 lines -->
            <property name="max" value="60" />
        </module>
        <module name="ConstantName">
            <!-- A constant name should be allcaps  -->
            <property name="format" value="^log(ger)?$|^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$" />
        </module>
        <!-- The left curly brace should be on the same line as the
        class or function declaration -->
        <module name="LeftCurly" />
        <!-- Right curly brace should be alone on the line;
        exceptions: TRY, CATCH, FINALLY, IF, ELSE  -->
        <module name="RightCurly" />
        <!-- Makes sure that switch statement has a default case -->
        <module name="MissingSwitchDefault" />
        <!-- Allows only one statement per line 
        int a = 1; int b = 2 will be a violation -->
        <module name="OneStatementPerLine" />
        <!-- Checks that string literals are compared using String.equals()
        instead of == or != -->
        <module name="StringLiteralEquality" />
        <!-- Checks whether references to instance variables and methods of the
        current object are preceeded by this. -->
        <module name="RequireThis">
            <property name="validateOnlyOverlapping" value="false" />
        </module>
        <!-- JavaDoc is only required for public methods
        but not for getters and setters -->   
        <module name="MissingJavadocMethod">
            <property name="allowMissingPropertyJavadoc" value="true" />
        </module>
    </module>
</module>
